


/*


 Muchas de las cosas que he hecho las he sacado de aqui:

    - https://www.w3schools.com/html/default.asp
    - https://programadorwebvalencia.com/cursos/
    - ChatGPT


*/




* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: Tahoma;
}

.header {
    background-color: rgb(235, 252, 255);
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.logo{
    width: 100px;
    border-radius: 50%;
}

.nav-links{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-right: 50px;
}

.nav a{
    transition: color 0.3s ease, transform 0.3s ease; 
    text-decoration: none;
    margin: 0 10px;
}

.nav a.special{
    margin: 0 20px;
}

.nav a:hover{
    color: #ffffff;
    transform: scale(1.1);   
}










.hero-image{
    position: relative;
    background-image: url('/images/ciber2.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.hero-text h1{
    font-size: 120px;
    margin-bottom: 10px;
}

.hero-text p{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.hero-text button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    transition: color 0.3s ease, transform 0.3s ease; 
}

.hero-text button:hover{
    background-color: #45a049;
    transform: scale(1.1);  
}


.bigcontenedor{
    background-color: #cee8e0;
    padding: 10px;
}

.contenedor{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f8f5;
    margin: 40px;
    text-align: center;
    align-items: center;
}

.bloque-izquierdo{
    flex: 1;
    margin-right: 20px;
    padding-left: 10px;
}

.bloque-izquierdo img{
    max-width: 35%;
    margin-top: 10px
}

.bloque-derecho{
    flex: 1;
    padding-right: 10px;
}

.bloque-derecho h2{
    margin: 10px 0;
}

.bloque-derecho button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #65b068;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.bloque-derecho button:hover{
    background-color: #4fa153;
    transform: scale(1.1);
}



.contenedor2{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #f0f8f5;
    margin: 40px;
    text-align: center;
    align-items: center;
}

.bloque-izquierdo2{
    flex: 1;
    padding-left: 10px;
}

.bloque-izquierdo2 h2{
    margin: 10px 0;
}

.bloque-izquierdo2 button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #65b068;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.bloque-izquierdo2 button:hover{
    background-color: #4fa153;
    transform: scale(1.1);
}

.bloque-derecho2{
    flex: 1;
    padding-right: 10px;
}

.bloque-derecho2 img{
    max-width: 30%;
    margin-top: 10px;
}





.main-serveis{
    margin: 4%;
}

.main-serveis li{
    margin: 2%;
    text-align: center;
    list-style-type: none;
}

.main-serveis h1{
    text-align: center;
}

.main-serveis h2{
    margin-top: 2%;
    margin-bottom: 2%;
}






.main-quisom{
    margin: 4%;
}


.main-quisom h1{
    text-align: center;
    margin: 2%
}


.imagen-container{
    display: flex;
    justify-content: right;
    height: 200px;
}










.titulo-contactos{
    text-align: center;
    font-size: 35px;
    margin-top: 25px;
}

.contenedor-formulario{
    display: flex;
    align-items: flex-start;
    padding: 20px;
    max-width: 650px;
    margin: 0 auto;
}

.formulario{
    flex: 1;
    margin-right: 20px;
}













.contacto{
    border: 2px solid #ffffff;
    border-radius: 8px;
    padding: 40px;
    margin-top: 20px;
    background-color: #ecedec;
}

.contacto label{
    display: block;
    font-weight: bold;
    color: #555;
}

.contacto div{
    margin-bottom: 20px;
}

.contacto input[type='text'],
.contacto textarea{
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.contacto input[type='text']:focus,
.contacto textarea:focus{
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 0 3px rgba(52, 152, 219, 0.1);
}

.contacto input[type='submit']{
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: #3498db;
    cursor: pointer;
    transition: background-color 0.3s;

}

.contacto input[type='submit']:hover{
    background-color: #2980b9;
}

.contacto input[type='submit']:active{
    background-color: #2c3e50;
}




















.footer{
    background-color: #fbfaf9;
    color: #000000;
    text-align: center; 
    padding: 20px ;
}

.footer p a img{
    border-radius: 50%;
}

.redes p{
    font-size: 15px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.redes img{
    margin-left: 10px;}